$white: #fff;
$white1: #ccc;

$black: #000;
$black1: #171c1d;
$black2: #06010b;
$black3: #00090d8a;

$grey: #898787;
$grey1: #c2c2c2;
$grey2: #454745;
$grey3: #6c6c6b56;
$grey4: #a9a9a9;
$grey5: #444451;
$grey6: #777;
$grey7: #888;

$purple: #ad99c8bf;

$pink: #eb9696;
$pink1: #f0548b;
$pink2: #ed427e;
$pink3: #e71760;

$orange: #f26c61;
$orange1: #ef594c;
$orange2: #e84b3c;

$red: #9f2626;

$blue: #1b6ef5;
$blue1: #3992ff;
$blue2: #4586ee;
$blue3: #507baf;

$yellow: #f6eb6f;
$yellow: 1 #deb887;

$green: #008000;
