@import "../../../assets/styles/variable.scss";

.container {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  cursor: pointer;
  margin-top: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, $grey, $black, $black, $grey);
  box-shadow: 0 4px 15px 0 $purple;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  opacity: 0.5;
  background-color: $white1;
  cursor: not-allowed !important;

  &:hover {
    background-position: unset;
    transition: unset;
  }
}
