.container {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #898787,
    #000000,
    #000000,
    #898787
  );
  box-shadow: 0 4px 15px 0 #ad99c8bf;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  opacity: 0.5;
  background-color: #ccc;
  cursor: not-allowed !important;

  &:hover {
    background-position: unset;
    transition: unset;
  }
}
