@import "../../../assets/styles/variable.scss";

.container {
  align-items: center;
  bottom: 0;
  color: $white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to right, $pink, $red, $red, $pink);
  box-shadow: 0 4px 15px 0 $purple;
}
