.container {
  .textCenter {
    text-align: center;
  }
  .busesAvailContainer {
    .busAvail {
      display: flex;
      flex-direction: column;
      background: wheat;
      padding: 0 10px;
      margin-bottom: 20px;
      border-radius: 6px;
      &:nth-child(odd) {
        background-color: antiquewhite;
      }
      .dFlex {
        display: flex;
        justify-content: space-between;
        .name {
          font-weight: bold;
        }
      }
    }
  }
}
